@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: rgb(234, 177, 86);
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: var(--title-color);
}

img {
    display: block;
    width: 100%;
}